:root {
  --background-base: #F5F5F6;
  --color-primary: #3d518c;
  --color-primary-light: #6d7dbc;
  --color-primary-dark: #01295e;
  --color-secondary: #8de969;
  --color-secondary-light: #c1ff9a;
  --color-secondary-dark: #59b639;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: var(--background-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
